@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

#google_translate_element {
  display: flex;
  align-items: center;
}

.goog-te-gadget {
  font-size: 0 !important;
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  margin: 0;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  background: white;
  color: #0f172a;
  font-size: 14px !important;
}

.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}